###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_a_random_32char_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://user:raoua@database:5432/event_reservation?serverVersion=15&charset=utf8"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=votre mot de passe
JWT_TOKEN_TTL=3600
###< lexik/jwt-authentication-bundle ###

###> WebAuthn ###
APP_DOMAIN=localhost
WEBAUTHN_RP_NAME="Event Reservation App"
###< WebAuthn ###

###> Docker ###
DB_PASSWORD=votre mot de passe
###< Docker ###
