<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <php>
        <server name="APP_ENV" value="test" force="true" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <env name="DEFAULT_URI" value="http://localhost" />
        <env name="APP_ENV" value="test"/>
        <env name="CORS_ALLOW_ORIGIN" value="^https?://localhost(:[0-9]+)?$" />
        <env name="DATABASE_URL" value="postgresql://user:raoua@database:5432/event_reservation_test?serverVersion=15&amp;charset=utf8" />
        <ini name="error_reporting" value="-1 &amp; ~E_USER_DEPRECATED"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>